# Ignore node_modules and logs
node_modules
npm-debug.log

# Ignore Git files
.git
.gitignore

# Ignore misc files not needed in the image
gateway.pdf
SERVIÇOS (Consumo de APIs).postman_collection.json
